RewriteEngine On

# Force HTTPS
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

# Prevent directory listing & multiview interference
Options -Indexes -MultiViews

# Custom 404 page
ErrorDocument 404 /404.html
